/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
**/*.png
**/*.svg
**/*.jpg
**/*.jpeg
**/*.woff
**/*.woff2
**/*.eot
**/*.pdf
**/cljs-runtime
**/node_modules
**/images
**/fonts
.idea
resources/public/js
*.iml
.shadow-cljs/

