/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
/.shadow-cljs
.hgignore
.hg/
yarn.lock
package-lock.json
**/*.pdf
**/cljs-runtime
**/node_modules
**/images
**/fonts
.idea
resources/public/js
*.iml
.shadow-cljs/
.DS_Store
.vscode/
