{:paths
 ["src" "resources"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.597"}
  thheller/shadow-cljs      {:mvn/version "2.8.73"}

  mount                     {:mvn/version "0.1.16"}

  aleph                     {:mvn/version "0.4.6"}
  ring/ring-core            {:mvn/version "1.7.1"}
  ring/ring-defaults        {:mvn/version "0.3.2"}

  uix.core                  {:git/url   "https://github.com/roman01la/uix.git"
                             :deps/root "core"
                             :sha       "46011c8a2f1a05025971af8e26b8b6704520383c"}
  uix.dom                   {:git/url   "https://github.com/roman01la/uix.git"
                             :deps/root "dom"
                             :sha       "46011c8a2f1a05025971af8e26b8b6704520383c"}

  }

 :aliases
 {:dev      {:extra-paths ["dev"]}
  :dev/cljs {:extra-deps
             {thheller/shadow-cljs {:mvn/version "2.8.73"}
              binaryage/devtools   {:mvn/version "0.9.10"}}}
  }
 }
