/* RESET */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}

/* DEFAULTS */
body {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.4em;
    background-color: #fff;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}
header, footer, section, article, nav {
    display: block;
}

/* CLEARFIX */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}

/* Lumber */

/* Color */
.yellow {
    color: #FFCC08;
}
.black {
    color: #000;
}
.white {
    color: #fff;
}
.gray {
    color: #d1d1d1;
}
.yellow-bg {
    background-color: #FFCC08;
}
.black-bg {
    background-color: #000;
}
.white-bg {
    background-color: #fff;
}
.gray-bg {
    background-color: #d1d1d1;
}
.purple-gr {
    background: rgb(190,212,255);
    background: linear-gradient(135deg, rgba(190,212,255,1) 0%, rgba(248,195,254,1) 100%);
}
.green-gr {
    background: rgb(202,250,252);
    background: linear-gradient(135deg, rgba(202,250,252,1) 0%, rgba(178,224,180,1) 100%);
}
.peach-gr {
    background: rgb(255,245,190);
    background: linear-gradient(135deg, rgba(255,245,190,1) 0%, rgba(254,195,202,1) 100%);
}
.yellow-gr {
    background: rgb(255,204,8);
    background: radial-gradient(circle,
                                rgba(255,204,8,0.9) 0%,
                                rgba(255,204,8, 0.7) 20%,
                                rgba(255,204,8, 0.4) 40%,
                                rgba(255,204,8, 0.2) 50%,
                                rgba(255,204,8, 0) 100%);
}
.purple-gr-h::before {
    opacity: 0;
    background: rgb(190,212,255);
    background: linear-gradient(135deg, rgba(190,212,255,1) 0%, rgba(248,195,254,1) 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.green-gr-h::before {
    opacity: 0;
    background: rgb(202,250,252);
    background: linear-gradient(135deg, rgba(202,250,252,1) 0%, rgba(178,224,180,1) 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.peach-gr-h::before {
    opacity: 0;
    background: rgb(255,245,190);
    background: linear-gradient(135deg, rgba(255,245,190,1) 0%, rgba(254,195,202,1) 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.green-gr-h:hover::before, .purple-gr-h:hover::before, .peach-gr-h:hover::before {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

/* Font */
@font-face {
    font-family: "Messina Serif Light";
    src: url("../fonts/messina-serif-light/MessinaSerifTrialWeb-Light.eot");
    src: url("../fonts/messina-serif-light/MessinaSerifTrialWeb-Light.woff") format("woff");
}

@font-face {
    font-family: "Messina Sans SemiBold";
    src: url("../fonts/messina-sans-semi-bold/MessinaSansWebTrial-SemiBold.eot");
    src: url("../fonts/messina-sans-semi-bold/MessinaSansWebTrial-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Messina Sans Regular";
    src: url("../fonts/messina-sans-regular/MessinaSansWebTrial-Regular.eot");
    src: url("../fonts/messina-sans-regular/MessinaSansWebTrial-Regular.woff") format("woff");
}

.h1 {
    font-family: "Messina Serif Light", serif;
    font-size: 42px;
    line-height: 46px;
}
.h2 {
    font-family: "Messina Serif Light", serif;
    font-size: 32px;
    line-height: 34px;
}
.h3 {
    font-family: "Messina Sans SemiBold", sans-serif;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
}
.t1 {
    font-family: "Messina Sans Regular", sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.q1 {
    font-family: "Messina Serif Light", serif;
    font-size: 46px;
    line-height: 50px;
}
.q2 {
    font-family: "Messina Serif Light", serif;
    font-size: 38px;
    line-height: 42px;
}
.q3 {
    font-family: "Messina Serif Light", serif;
    font-size: 26px;
    line-height: 30px;
}
.l {
    font-family: "Messina Sans SemiBold", sans-serif;
    font-size: 28px;
}

/* Buttons */
.btn {
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    font-family: "Messina Sans SemiBold", sans-serif;
    font-size: 12px;
    line-height: 36px;
    /* letter-spacing: 1.5; */
    text-transform: uppercase;
    border: 1px solid #d1d1d1;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.btn.black {
    color: #121212;
}
.btn:hover {
    color: #121212;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .15);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

/* Links */
.a {
    font-family: "Messina Sans SemiBold", serif;
    font-size: 12px;
    /* letter-spacing: 1.5; */
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}
.u {
    position: relative;
    text-decoration: none;
    line-height: 40px;
}
.u:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.u:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.a.video :before {
    content: "";
}
.a.link span {
    font-size: 14px;
    margin-left: 5px;
}
.pipe {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 40px;
    margin: 0 23px;
    background-color: #d1d1d1;
}
.pointer {
    pointer: cursor;
}
.re {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.round {
    border-radius: 50%;
}

/* Layout  */
.cont {
    position: relative;
    margin: 0 40px;
    padding-top: 99px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    max-width: 100%;
    background-color: #000;
    border: 1px solid #000;
}

/* Header */
header.main {
    display: grid;
    position: fixed;
    top: 0;
    right: 40px;
    left: 40px;
    grid-template-columns: 100px auto 210px;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #000;
    z-index: 10;
}
header.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    height: 99px;
    width: 4px;
    background-color: #fff;
}
header.main::after {
    content: "";
    position: absolute;
    top: 0;
    right: -3px;
    height: 99px;
    width: 4px;
    background-color: #fff;
}
header.main.compact {
    height: 40px;
}
header.main.compact::before, header.main.compact::after {
    height: 39px;
}
header.main.compact .logo span {
    font-size: 20px;
}
header.main.compact .email .a {
    font-size: 10px;
}
header.main.compact .email .disk {
    margin: 5px;
    width: 10px;
    height: 10px;
}
.cont.compact {
    padding-top: 39px;
}

/* Nav */
.nav {
    position: relative;
    width: 100%;
    padding: 0 40px;
}
.logo img {
    width: 100%;
}

/* Progress */
.progress .state {
    position: relative;
    height: 1px;
    background-color: #121212 ;
    z-index: 1;
}
.progress .rail {
    position: relative;
    top: -1px;
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    z-index: 0;
}

.email {
    position: relative;
}
.email:hover .disk {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0px 0px 0px 0px;
    background-color: #FFCC08;
    -webkit-transition: all 0.1s ease-in-out 0.1s;
    transition: all 0.1s ease-in-out 0.1s;
}

/* Footer */
footer.main {
    display: grid;
    grid-template-columns: 200px auto 150px;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

/* Box */
.box {
    position: relative;
    text-align: center;
    padding-top: 100%;
    background-color: #fff;
}
.ar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 26px 40px 40px 40px;

    /* with grid layout (no support) */
    /* display: grid; */
    /* grid-template-rows: 40px auto 40px; */
    /* -webkit-grid-template-rows: 40px auto 40px; */
    /* grid-template-columns: 100%; */
    /* justify-items: center; */
    /* align-items: center; */

    /* with flexbox (temp) */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.box.black-bg {
    color: #fff;
    background-color: #000;
}
.box article {
}

.box header {
    position: absolute;
    top: 20px;
}
.box footer {
    position: absolute;
    bottom: 20px;
}

.info {}
.info header {}
.info article {
    margin: 60px 0;
}
.info footer {
    justify-self: center;
}
.info ul li {
    position: relative;
    display: inline-block;
    padding-left: 24px;
}
.info ul li::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.info ul.black li::before {
    background-color: #000;
}
.info ul.white li::before {
    background-color: #fff;
}

.work {
    position: relative;
}
.work article, .work header, .work footer {
    z-index: 2;
}
.work article .h2 {
    margin-bottom: 10px;
}
.work::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.work article {
    margin: 60px 0;
}
.work footer .a {
    display: inline-block;
    margin: 0 5px;
}
.work .name {
    display: none;
    /* opacity: 0; */
}
.work .image {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 5%;
    width: 90%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.work .image img {
    width: 100%;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .15);
}
.work:hover .image {
    /* display: block; */
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
}
.work:hover .name {
    display: block;
    /* opacity: 1; */
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.work:hover .title {
    display: none;
}

.value article {
    position: absolute;
    width: 70%;
    height: 70%;
    padding: 20px 20px;
    border-radius: 50%;

    /* with flexbox (temp) */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.value h2 {
    dispaly: block;
}

.quote {
    position: relative;
    color: #fff;
    background-color: #000;
}
.quote .ar {
    grid-template-rows: 100%;
}
.quote article {
    position: relative;
    width: 100%;
    z-index: 0;
}

.quote svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* height: 100%; */
    z-index: 0;
}
.last-box {
    display: none;
}

.dots .ar {
    grid-template-rows: 100%;
    padding-top: 40px;
}
.dot-cont {
    float: left;
    position: relative;
    width: 20%;
}
.dot {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

/* Glowing Dots */
@keyframes glow {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    45% {
        transform: scale(0.8);
        opacity: 0.2;
    }
    90% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
.glow {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    pointer-events: none;
    z-index: 3;
}
.wave {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    pointer-events: none;
}
.wave-1 {
    animation: glow 1.5s ease-in infinite;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
}
.wave-2 {
    animation: glow 1.5s ease-in 0.5s infinite;
    top: 15px;
    left: 15px;
    width: 90px;
    height: 90px;
}
.wave-3 {
    animation: glow 1.5s ease-in 1s infinite;
}
.glow-cont {
    width: 100%;
    height: 100%;
}

/* Flipping Dots */
.flipping-dots {
    width: 100%;
}
.flipper {
    float: left;
    position: relative;
    width: 20%;
    height: 20%;
    padding-top: 20%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
.dot.front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    z-index: 2;
}
.dot.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.dot.front, .dot.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 50%;
}

.flipper.show-front {
    transition: all linear 1s;
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    -moz-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
}
.flipper.show-back {
    transition: all linear 1s;
    transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    -moz-transform: rotate3d(1, 1, 0, 0deg);
}



/* Following Eyes */
.eyes-cont {
    width: 100%;
}
.eyes-cont .dot {
    float: left;
    width: 20%;
    padding-bottom: 20%;
    /* pointer-events: none; */
}
.eye {
    position: absolute;
    top: 35%;
    left: 6%;
    right: 6%;
    width: auto; /* 86%; */
    height: 30%;
    background-image: url(../images/eye-bgr.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    overflow: hidden
}

@keyframes blink {
    0% {
        transform: translateY(0%);
    }
    3% {
        transform: translateY(100%);
    }
    6% {
        transform: translateY(0%);
    }
}
.blink {
    animation: blink 12.5s linear infinite;
}

.pupil {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background-color: #000;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.eyeball {
    position: absolute;
    /* width: 14px; */
    /* height: 14px; */
    width: 24%;
    height: 24%;
    top: 37%;
    left: 38%;
    background-color: #000;
    border-radius: 50%;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



/* Popup */
.popup {
    position: fixed;
    display: none;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    z-index: 11;
}
.popup article {
    position: relative;
}

/* Btn X */
.btn-x {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    /* right: -40px; */
    cursor: pointer;
}
.x {
    position: absolute;
    top: 0;
    left: 18px;
    width: 2px;
    height: 40px;
    background-color: #fff;
}
.x.r {
    transform-origin: center;
    transform: rotate(45deg)
}
.x.l {
    transform-origin: center;
    transform: rotate(-45deg)
}



/* Glyph Disk */
.disk-cont {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 17px 2px 0px;
    width: 18px;
    height: 18px;
}
.disk {
    display: block;
    margin: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}



/* Glyph Play */
.play {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #000;
}



/* Glyph Arrow */
.arrow {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
}
.arrow::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0px;
    width: 4px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
}
.arrow::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 0px;
    width: 4px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
}
.arrow.dark {
    color: #000;
    background-color: #000;
}
.arrow.light {
    color: #fff;
}

/* Glyph Light Bulp */
.light-bulp {
    position: relative;
}
.light-bulp::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -20px;
    width: 12px;
    height: 18px;
    background-image: url("../images/lightbulp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Glyph Thunder */
.thunder {
    position: relative;
}
.thunder::before {
    content: "";
    position: absolute;
    width: 25px;
    top: 2px;
    left: -40px;
    width: 30px;
    height: 42px;
    background-image: url("../images/thunder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.thunder::after {
    content: "";
    position: absolute;
    width: 25px;
    top: 2px;
    right: -40px;
    width: 30px;
    height: 42px;
    background-image: url("../images/thunder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Borders */
.bt {
    border-top: 1px solid #000;
}
.br {
    border-right: 1px solid #000;
}
.bb {
    border-bottom: 1px solid #000;
}
.bl {
    border-left: 1px solid #000;
}



/* Clock */
.clock article {
    position: relative;
    z-index: 2;
}
.clock-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 1;
}
.clock-bg {
    position: relative;
    width: 70%;
    height: 70%;
    background: #fff url('../images/clock-lines.svg') center center no-repeat;
    background-size: 93% 93%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 11px 22px 0px rgba(0,0,0, 0.15);
}
.hour {
    position: absolute;
    top: 19%;
    left: 50%;
    width: 7px;
    height: 32%;
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    /* transform: rotate(0deg); */
}
.min {
    position: absolute;
    top: 7%;
    left: 50%;
    width: 7px;
    height: 44%;
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    /* transform: rotate(0deg); */
}
.sec {
    position: absolute;
    top: 11%;
    left: 51%;
    width: 1px;
    height: 40%;
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    z-index: 10;
}
.arrows-intersection {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


@media all and (min-width: 1600px) {
    .cont {
        margin: 0 100px;
    }
    header.main {
        right: 100px;
        left: 100px;
    }
}

@media all and (min-width: 1800px) {
    /* Fonts Full HD */
    .h1 {
        font-size: 42px;
        line-height: 46px;
    }
    .h2 {
        font-size: 36px;
        line-height: 38px;
    }
    .h3 {
        font-size: 16px;
        line-height: 34px;
    }
    .t1 {
        font-size: 20px;
        line-height: 26px;
    }

    .info ul li::before {
        top: 14px;
    }

    .q1 {
        font-family: "Messina Serif Light", serif;
        font-size: 46px;
        line-height: 50px;
    }
    .q2 {
        font-family: "Messina Serif Light", serif;
        font-size: 38px;
        line-height: 42px;
    }
    .q3 {
        font-family: "Messina Serif Light", serif;
        font-size: 26px;
        line-height: 30px;
    }

    .btn {
        height: 50px;
        padding: 0 50px;
        font-size: 16px;
        line-height: 50px;
    }
    .a {
        font-size: 16px;
    }
    .re {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    header.main {
        grid-template-columns: 95px auto 270px;
    }
    .ar {
        padding: 46px 60px 60px 60px;
    }
    .dots .ar {
        padding-top: 60px;
    }
    .glow {
        top: 0px;
        left: 0px;
    }

    footer.main {
        grid-template-columns: 240px auto 190px;
    }
}

@media all and (max-width: 1250px) {
    /* Fonts Mobile */
    .h1 {
        font-size: 34px;
        line-height: 36px;
    }
    .h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .t1 {
        font-size: 14px;
        line-height: 22px;
    }
    .info ul li::before {
        top: 10px;
    }

    .q1 {
        font-family: "Messina Serif Light", serif;
        font-size: 34px;
        line-height: 38px;
    }
    .q2 {
        font-family: "Messina Serif Light", serif;
        font-size: 30px;
        line-height: 34px;
    }
    .q3 {
        font-family: "Messina Serif Light", serif;
        font-size: 22px;
        line-height: 26px;
    }
}

@media all and (max-width: 1250px) {
    .cont {
        margin: 0 20px;
        padding-top: 69px;
    }
    header.main {
        right: 20px;
        left: 20px;
        height: 70px;
    }
    header.main::before {
        height: 69px;
    }
    header.main::after {
        height: 69px;
    }
    .ar {
        padding: 6px 20px 20px 20px;
    }
    .dots .ar {
        padding-top: 20px;
    }
    .glow {
        top: -40px;
        left: -40px;
    }
    .info article, .work article {
        margin: 30px auto;
    }
    .btn {
        padding: 0 25px;
    }
    .a, .u, .btn {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
@media all and (max-width: 980px) {
    .grid {
        grid-template-columns: 50% 50%;
        border-right: 2px solid #000;
    }
    .ar {
        padding: 26px 40px 40px 40px;
    }

    .glow {
        top: -40px;
        left: -20px;
    }
    .last-box {
        display: block;
    }
    /* Uncomment to have active btns on work boxes on mobile */
    /* .work .btn { */
    /* color: #121212; */
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
    /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .15); */
    /* } */
}
@media all and (max-width: 768px) {
    .ar {
        padding: 6px 20px 20px 20px;
    }
    .glow {
        top: -40px;
        left: -40px;
    }
    .info article, .work article {
        margin: 10px auto;
    }
    .pipe {
        margin: 0 10px;
    }
}

@media all and (min-width: 415px) and (max-width: 560px) {
    .cont {
        margin: 0 12%;
        padding-top: 69px;
    }
    header.main {
        right: 12%;
        left: 12%;
        height: 70px;
    }
}

@media all and (max-width: 560px) {
    .nav {
        padding: 0;
    }
    .progress {
        display: none;
    }
    .grid {
        grid-template-columns: 100%;
        border-right: 1px solid #000;
    }
    .btn-x {
        right: 46%;
        top: -50px;
    }
}
@media all and (max-width: 414px) {
    /* IPHONE X */
    .box {
        /* padding-top: 100%; */
    }
    header.main {
        grid-template-columns: 100px auto 180px;
    }
    .email .disk-cont {
        display: none;
    }
    .info article, .work article {
        margin: 30px 0;
    }
    footer.main {
        grid-template-columns: 100%;
        grid-template-rows: 40px 0 40px;
    }
    footer.main .left {
        margin-top: 30px;
    }

    .glow {
        pointer-events: auto;
    }
}
@media all and (max-width: 360px) {
    /* Galaxy S (Older)*/
    .ar {
        padding: 6px 20px 20px 20px;
    }
    .dots .ar {
        padding: 20px 20px 20px 20px;
    }
}
@media all and (max-width: 350px) {
    /* IPhone 5 */
    /* Low-end Android */
    .cont {
        margin: 0 10px;
        padding-top: 69px;
    }
    header.main {
        right: 10px;
        left: 10px;
    }
    header.main::before {
        height: 9px;
    }
    header.main::after {
        height: 9px;
    }
}

/* Mobile Device Specific Queries */

/* Portrait and Landscape Tablets */

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad 1, 2, Mini, Air */

    .work.green-gr-h::before,
    .work.peach-gr-h::before,
    .work.purple-gr-h::before {
        opacity: 1;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 3, 4, Pro 9.7 inch */

    .work.green-gr-h::before,
    .work.peach-gr-h::before,
    .work.purple-gr-h::before {
        opacity: 1;
    }
}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 10.5 inch */

    .work.green-gr-h::before,
    .work.peach-gr-h::before,
    .work.purple-gr-h::before {
        opacity: 1;
    }
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Pro 12.9 inch */

    .work.green-gr-h::before,
    .work.peach-gr-h::before,
    .work.purple-gr-h::before {
        opacity: 1;
    }
}

/* Portrait and Landscape Phones */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 869px) {

    .work.green-gr-h::before,
    .work.peach-gr-h::before,
    .work.purple-gr-h::before {
        opacity: 1;
    }
}

/* Landscape Phones */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 869px)
and (orientation: landscape) {
    /* iPhone 5, 6, 6S, 7, 8 */
    /* iPhone 6+, 7+, 8+ */
    /* iPhone X */
    /* Galaxy S6-10 */
    header.main {
        height: 40px;
    }
    header.main::before, header.main::after {
        height: 39px;
    }
    header.main .logo span {
        font-size: 20px;
    }
    header.main .email .a {
        font-size: 10px;
    }
    header.main .email .disk {
        margin: 5px;
        width: 10px;
        height: 10px;
    }
    .cont {
        padding-top: 39px;
    }
}
