/* RESET */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}

/* DEFAULTS */
body {
    position: relative;
    line-height: 1.4em;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}
header, footer, section, article, nav {
    display: block;
}
.cont {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 99px;
}

/* CLEARFIX */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}

/* Lumber */

/* Color */
.yellow {
    color: #FFCC08;
}
.black {
    color: #000;
}
.white {
    color: #fff;
}
.yellow-bg {
    background-color: #FFCC08;
}
.black-bg {
    background-color: #000;
}
.white-bg {
    background-color: #fff;
}
.purple-gr {
    background: rgb(190,212,255);
    background: linear-gradient(135deg, rgba(190,212,255,1) 0%, rgba(248,195,254,1) 100%);
}
.green-gr {
    background: rgb(202,250,252);
    background: linear-gradient(135deg, rgba(202,250,252,1) 0%, rgba(178,224,180,1) 100%);
}
.peach-gr {
    background: rgb(255,245,190);
    background: linear-gradient(135deg, rgba(255,245,190,1) 0%, rgba(254,195,202,1) 100%);
}
.purple-gr-h::before {
    opacity: 0;
    background: rgb(190,212,255);
    background: linear-gradient(135deg, rgba(190,212,255,1) 0%, rgba(248,195,254,1) 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.green-gr-h::before {
    opacity: 0;
    background: rgb(202,250,252);
    background: linear-gradient(135deg, rgba(202,250,252,1) 0%, rgba(178,224,180,1) 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.peach-gr-h::before {
    opacity: 0;
    background: rgb(255,245,190);
    background: linear-gradient(135deg, rgba(255,245,190,1) 0%, rgba(254,195,202,1) 100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.green-gr-h:hover::before, .purple-gr-h:hover::before, .peach-gr-h:hover::before {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

/* Font */
@font-face {
    font-family: "Messina Serif Light";
    src: url("/fonts/messina-serif-light/MessinaSerifTrialWeb-Light.eot");
    src: url("/fonts/messina-serif-light/MessinaSerifTrialWeb-Light.woff") format("woff");
}

@font-face {
    font-family: "Messina Sans SemiBold";
    src: url("/fonts/messina-sans-semi-bold/MessinaSansWebTrial-SemiBold.eot");
    src: url("/fonts/messina-sans-semi-bold/MessinaSansWebTrial-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Messina Sans Regular";
    src: url("/fonts/messina-sans-regular/MessinaSansWebTrial-Regular.eot");
    src: url("/fonts/messina-sans-regular/MessinaSansWebTrial-Regular.woff") format("woff");
}

.h1 {
    font-family: "Messina Serif Light", serif;
    font-size: 42px;
    letter-spacing: -0.4;
    line-height: 46px;
}
.h2 {
    font-family: "Messina Serif Light", serif;
    font-size: 32px;
    letter-spacing: -0.3;
    line-height: 34px;
}
.h3 {
    font-family: "Messina Sans SemiBold", sans-serif;
    font-size: 12px;
    letter-spacing: 1.4;
    line-height: 30px;
    text-transform: uppercase;
}
.t1 {
    font-family: "Messina Sans Regular", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

@media all and (max-width: 980px) {
    .h1 {
        font-size: 34px;
        letter-spacing: -3.4;
        line-height: 36px;
    }
    .h2 {
        font-size: 24px;
        letter-spacing: -2.3;
        line-height: 28px;
    }
    .t1 {
        font-size: 14px;
        line-height: 22px;
    }
}

/* Buttons */
.btn {
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    font-family: "Messina Sans SemiBold", sans-serif;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 1.5;
    text-transform: uppercase;
    border: 1px solid #d1d1d1;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.btn.black {
    color: #121212;
}
.btn:hover {
    color: #121212;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .15);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

/* Links */
.a {
    font-family: "Messina Sans SemiBold", serif;
    /* font-family: "Messina Sans SemiBold", sans-serif; */
    font-size: 12px;
    letter-spacing: 1.5;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}
.u {
    position: relative;
    text-decoration: none;
    line-height: 40px;
}
.u:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.u:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.a.video :before {
    content: "";
}
.a.link span {
    font-size: 14px;
    margin-left: 5px;
}
.pipe {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 40px;
    margin: 0 23px;
    background-color: #d1d1d1;
}
.pointer {
    pointer: cursor;
}
.re {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.round {
    border-radius: 50%;
}

/* Nav */
.nav {}

/* Layout  */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: #000;
    border: 1px solid #000;
}

/* Nav */
header.main {
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: 100px auto 210px;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 1200px;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    z-index: 10;
}
.logo span {
    font-size: 30px;
    font-size: 26px;
    font-weight: bold;
}

.nav {
    position: relative;
    width: 100%;
    padding: 0 40px;
}
.nav .state {
    position: relative;
    width: 15%;
    height: 1px;
    background-color: #121212 ;
    z-index: 1;
}
.nav .rail {
    position: relative;
    top: -1px;
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    z-index: 0;
}

.disk-cont {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 17px 2px 0px;
    width: 18px;
    height: 18px;
}
.disk {
    display: block;
    margin: 3px 0px 0px 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
.email {
    position: relative;
}
.email:hover .disk {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0px 0px 0px 0px;
    background-color: #FFCC08;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}


footer.main {
    display: grid;
    grid-template-columns: 200px auto 150px;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100px;
}


/* Box */
.box {
    position: relative;
    display: grid;
    grid-template-rows: 40px auto 40px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 26px 40px 40px 40px;
    min-height: 400px;
    background-color: #fff;
}
.box.black-bg {
    color: #fff;
    background-color: #000;
}
.info {}
.info header {}
.info article {
    margin: 60px 0;
}
.info footer {
    justify-self: center;
}
.info ul li {
    position: relative;
    display: inline-block;
    padding-left: 24px;
}
.info ul li::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.info ul.black li::before {
    background-color: #000;
}
.info ul.white li::before {
    background-color: #fff;
}
.work {
    position: relative;
}
.work article, .work header, .work footer {
    z-index: 2;
}
.work article .h2 {
    margin-bottom: 10px;
}
.work::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.work article {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 60px 0;
}
.work footer .a {
    display: inline-block;
    margin: 0 5px;
}
.work .name {
    display: none;
    opacity: 0;
}
.work .image {
    display: none;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 5%;
    width: 90%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.work .image img {
    width: 100%;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .15);
}
.work:hover .image {
    display: block;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.work:hover .name {
    display: block;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.work:hover .title {
    display: none;
}

.value {}
.value article {
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    padding: 20px 20px;
    border-radius: 50%;
}
.value h2 {
    dispaly: block;
}

.box.quote {
    position: relative;
    grid-template-rows: 100%;
    color: #fff;
    background-color: #000;
}
.quote article {
    position: relative;
    width: 50%;
    z-index: 0;
}
.quote svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.value {}
.feature {}
.clock {}


/* Dot Modules */
.dots {
    padding: 20px;
}
.dots svg {
    display: block;
    /* position: absolute; */
    /* top: 20px; */
    /* right: 20px; */
    /* bottom: 20px; */
    /* left: 20px; */
    /* width: 100%; */
    /* height: 100%; */
}
.box.dots svg circle {
    /* display: block; */
}






/* Play */
.play {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #000;
}

/* Arrow */
.arrow {
    position: relative;
    top: -4px;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
}
.arrow::before {
    content: "";
    width: 6px;
    height: 2px;
}
.arrow::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0px;
    width: 10px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}
.arrow::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    width: 10px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
}
.arrow.dark {
    color: #000;
    background-color: #000;
}
.arrow.light {
    color: #fff;
}



/* Borders */
.bt {
    border-top: 1px solid #000;
}
.br {
    border-right: 1px solid #000;
}
.bb {
    border-bottom: 1px solid #000;
}
.bl {
    border-left: 1px solid #000;
}



.polka-dots {
    position: relative;
}
.polka-dots .dot:nth-child(1) {
    top: -50px;
    right: 80px;
}
.polka-dots .dot:nth-child(2) {
    top: 0px;
    left: -40px;
}
.polka-dots .dot:nth-child(3) {
    top: 108px;
    left: 145px;
}
.polka-dots .dot:nth-child(4) {
    top: 148px;
    right: -40px;
}
.polka-dots .dot:nth-child(5) {
    top: 200px;
    left: -50px;
}
.polka-dots .dot:nth-child(6) {
    top: 230px;
    left: 50px;
}
.polka-dots .dot:nth-child(7) {
    top: 310px;
    right: -10px;
}
.polka-dots .dot:nth-child(8) {
    top: 369px;
    left: 40%;
}
