/* RESET */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    margin-left: 20px;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}

/* DEFAULTS */
body {
    position: relative;
    /* font-family: 'Padauk', sans-serif; */
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4em;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}
header, footer, section, article, nav {
    display: block;
}
.section {
    padding: 80px 0;
}
.cont {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* CLEARFIX */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}

/* Lumber */

/* Color */
.yellow {
    color: #FFCC08;
}
.black {
    color: #000;
}
.white {
    color: #fff;
}
.yellow-bg {
    background-color: #FFCC08;
}
.black-bg {
    background-color: #000;
}
.white-bg {
    background-color: #fff;
}
.purple-gr {
}
.green-gr {
}
.peach-gr {
}


/* Font */
@font-face {
    font-family: "Messina Serif Light";
    src: url("/fonts/messina-serif-light/MessinaSerifTrialWeb-Light.eot");
    src: url("/fonts/messina-serif-light/MessinaSerifTrialWeb-Light.woff") format("woff");
}

@font-face {
    font-family: "Messina Sans SemiBold";
    src: url("/fonts/messina-sans-semibold/MessinaSansWebTrial-SemiBold.eot");
    src: url("/fonts/messina-sans-semibold/MessinaSerifTrialWeb-Light.woff") format("woff");
}

@font-face {
    font-family: "Messina Sans Regular";
    src: url("/fonts/messina-sans-regular/MessinaSansWebTrial-Regular.eot");
    src: url("/fonts/messina-sans-regular/MessinaSansWebTrial-Regular.woff") format("woff");
}

.h1 {
    font-family: "Messina Serif Light", serif;
    font-size: 42px;
    letter-spacing: -0.4;
    line-height: 46px;
}
.h2 {
    font-family: "Messina Serif Light", serif;
    font-size: 32px;
    letter-spacing: -0.3;
    line-height: 34px;
}
.h3 {
    font-family: "Messina Sans SemiBold", sans-serif;
    font-size: 12px;
    letter-spacing: 1.4;
    line-height: 30px;
}
.t1 {
    font-family: "Messina Sans Regular", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

@media all and (max-width: 980px) {
    .h1 {
        font-size: 34px;
        letter-spacing: -3.4;
        line-height: 36px;
    }
    .h2 {
        font-size: 24px;
        letter-spacing: -2.3;
        line-height: 28px;
    }
    .t1 {
        font-size: 14px;
        line-height: 22px;
    }
}

/* Buttons */
/* .btn.h3.black */
/* .btn.h3.white */
.btn {
    letter-spacing: 1.5;
}
.btn.black {
    color: #121212;
}
.btn:hover {
    color: #121212;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

/* Links */
.a {
    font-family: "Messina Sans SemiBold";
    font-size: 12px;
    letter-spacing: 1.5;
    color: #121212;
    text-decoration: none;
    pointer: cursor;
}
.u {
    position: relative;
    text-decoration: none;
}
.u:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.u:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



.pointer {
    pointer: cursor;
}
.re {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}


.round {
    border-radius: 50%;
}

/* Nav */
.nav {
}


/* Box */
.box {
}
.info {
}
.value {
}
.feature {
}
.quote {
}
.clock {
}


/* Dot Modules */





/* Arrow */
.arrow {
    position: relative;
    top: -4px;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 2px;
    transform: rotate(-45deg);
}
.arrow::before {
    content: "";
    width: 6px;
    height: 2px;
}
.arrow::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0px;
    width: 10px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}
.arrow::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    width: 10px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
}
.arrow.dark {
    color: #000;
    background-color: #000;
}
.arrow.light {
    color: #fff;
}



/* Borders */
.border-top {
    border-top: 1px solid #000;
}
.border-right {
    border-right: 1px solid #000;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
.border-left {
    border-left: 1px solid #000;
}

/* Grid */

/* Box */
@media all and (max-width: 680px) {
    .box {
    }
}

/* Circle/Dot animations */
.box .inner:hover .fourth-circle {
    width: 185px;
    height: 195px;
    border-radius: 0 0 0 190px;
    transition: width 0.2s, height 0.2s, border-radius 0.2s;
}
.fourth-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 145px;
    height: 155px;
    background-color: #FECD07;
    border-radius: 0 0 0 150px;
    -webkit-border-radius: 0 0 0 150px;
    -moz-border-radius: 0 0 0 150px;
    -ms-border-radius: 0 0 0 150px;
    transition: width 0.2s, height 0.2s, border-radius 0.2s;
    z-index: -1;
}

.polka-dots {
    position: relative;
}
.polka-dots .dot:nth-child(1) {
    top: -50px;
    right: 80px;
}
.polka-dots .dot:nth-child(2) {
    top: 0px;
    left: -40px;
}
.polka-dots .dot:nth-child(3) {
    top: 108px;
    left: 145px;
}
.polka-dots .dot:nth-child(4) {
    top: 148px;
    right: -40px;
}
.polka-dots .dot:nth-child(5) {
    top: 200px;
    left: -50px;
}
.polka-dots .dot:nth-child(6) {
    top: 230px;
    left: 50px;
}
.polka-dots .dot:nth-child(7) {
    top: 310px;
    right: -10px;
}
.polka-dots .dot:nth-child(8) {
    top: 369px;
    left: 40%;
}
.four-dots {
    position: absolute;
    right: 170px;
}
.four-dots .dot:nth-child(1){
    top: 0px;
    left: 0px;
}
.four-dots .dot:nth-child(2){
    top: 0px;
    left: 60px;
}
.four-dots .dot:nth-child(3){
    top: 60px;
    left: 0px;
}
.four-dots .dot:nth-child(4){
    top: 60px;
    left: 60px;
}
.dot {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FECD07;
}
